


 <div class="create_post">

  <h2>Create New Post</h2>

    <form action="/createPost" method="POST">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" ><br>
      <label for="description">Description:</label><br>
      <input type="text" id="description" name="description" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form> 
    
  </div>

  <!-- <form>
   <p><input placeholder="Title" name="user"></p>
   <p><input placeholder="body" name="user"></p>
   <p><input type="submit" value="Отправить" 
   formaction="/createPost" formmethod="post"></p>
  </form>

</html> -->